body {
    font-weight: 400;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.7);
}

pre, code {
    border: none;
    border-radius: 0;
    background-color: #f9f9f9;
    font-size: 0.85em;
}

pre {
    font-size: 1em;
}

code {
    color: inherit;
}

#header {
    border-bottom: 1px solid #eee;
    margin-bottom: 20px;
}

#header a:hover {
    text-decoration: none;
}

#footer {
    margin: 50px 0;
    font-size: 0.85em;
    color: #999;
    text-align: center;
}

.footer {
    background-color: #D5EDFD;
}

#content > .page-header:first-child {
    margin-top: 0;
}

#content > .page-header:first-child h2 {
    margin-top: 0;
}


#navigation {
    font-size: 0.9em;
}

#navigation li a {
    padding-left: 10px;
    padding-right: 10px;
}

#navigation .nav-header {
    padding: 15px 0 0 5px;
    font-weight: bold;
}

#navigation .nav>li>a {
    padding: 5px 15px;
}

table.table th {
    text-align: center;
}

.jumbotron {
    padding-bottom: 0;
    background-color: #D5EDFD;
}

.jumbotron .container, .container {
    max-width: 960px;
}

.jumbotron .screenshot {
    border-radius: 10px 10px 0 0;
    overflow: hidden;
}

.row.features {
    padding: 30px 0;
}

