.dotcloud/*
dev.db
venv/*
backups/*
static/
cabot/.collectstatic/
node_modules/*
.python-eggs/*
cabot.egg-info
cabot/static/
.env
.DS_Store
celerybeat-schedule
*.pyc
*.swp
*.orig
.vagrant
conf/*.env
dist/
local_config.yml
build/

.idea
Pipfile.lock
.tox/