.dotcloud/*
dev.db
venv/*
backups/*
static/CACHE/*
node_modules/*
.python-eggs/*
cabot.egg-info
cabot/static/CACHE
.env
.DS_Store
celerybeat-schedule
*.pyc
*.swp
*.orig
.vagrant
conf/*.env
dist/
local_config.yml
build/

.idea