amqp==5.0.6
asgiref==3.4.1
billiard==3.6.4.0
cabot-alert-slack==0.8.3
cached-property==1.5.2
celery==5.1.2
certifi==2021.5.30
chardet==4.0.0
click==7.1.2
click-didyoumean==0.0.3
click-plugins==1.1.1
click-repl==0.2.0
coreapi==2.3.3
coreschema==0.0.4
dj-database-url==0.5.0
Django==3.2.5
django-appconf==1.0.4
django-autocomplete-light==3.8.2
django-bootstrap-form==3.4
django-celery-beat==2.2.1
django-compressor==2.4.1
django-environ==0.4.5
django-filter==2.4.0
django-jsonify==0.3.0
django-polymorphic==3.0.0
django-timezone-field==4.2.1
djangorestframework==3.12.4
icalendar==4.0.7
idna==2.10
importlib-metadata==4.6.3
itypes==1.2.0
Jinja2==3.0.1
kombu==5.1.0
MarkupSafe==2.0.1
mysqlclient==2.0.3
postgres==3.0.0
prompt-toolkit==3.0.19
psycopg2==2.9.1
psycopg2-binary==2.9.1
psycopg2-pool==1.1
python-crontab==2.5.1
python-dateutil==2.8.2
python-dotenv==0.19.0
pytz==2021.1
rcssmin==1.0.6
redis==3.5.3
requests==2.25.1
rjsmin==1.1.0
six==1.16.0
sqlparse==0.4.1
typing-extensions==3.10.0.0
uritemplate==3.0.1
urllib3==1.26.6
vine==5.0.0
wcwidth==0.2.5
zipp==3.5.0
