Django==1.4.10
django-redis==1.4.5
South==0.7.6
django-compressor==1.2
requests==0.14.2
psycopg2
git+git://github.com/bancek/django-smtp-ssl.git#egg=django_smtp_ssl
django-celery-with-redis==3.0
twilio==3.4.1
icalendar==3.2
pytz
django-jsonify
dj_database_url
gunicorn
celery
redis
mock
django-polymorphic
django-mptt
