amqp==2.1.4
anyjson==0.3.3
appdirs==1.4.3
billiard==3.5.0.2
boto==2.49.0
boto3==1.9.86
botocore==1.12.86
celery==4.2.1
coreapi==2.3.0
coreschema==0.0.4
dj-database-url==0.4.2
Django==1.11.29
django-appconf==1.0.2
django-auth-ldap==1.2.16
django-autocomplete-light==3.2.10
django-bootstrap-form==3.4
django-compressor==2.2
django-filter==1.0.4
django-jsonify==0.3.0
django-polymorphic==1.3
djangorestframework==3.6.2
docutils==0.14
futures==3.2.0
gevent==1.2.1
greenlet==0.4.12
gunicorn==19.7.1
httplib2==0.10.3
icalendar==3.11.3
itypes==1.1.0
Jinja2==2.9.6
jmespath==0.9.3
kombu==4.2.2.post1
Markdown==2.6.8
MarkupSafe==1.0
multi-key-dict==2.0.3
oauthlib==3.0.0
packaging==16.8
pbr==5.1.1
psycopg2==2.7.1
pyasn1==0.4.5
pyasn1-modules==0.2.3
pycurl==7.43.0.1
Pygments==2.2.0
PyJWT==1.7.1
pyparsing==2.2.0
PySocks==1.6.7
python-dateutil==2.6.0
python-jenkins==0.4.15
python-ldap==3.1.0
python-openid==2.2.5
pytz==2017.2
rcssmin==1.0.6
redis==2.10.5
requests==2.13.0
requests-oauthlib==1.2.0
rjsmin==1.0.12
s3transfer==0.1.13
six==1.10.0
social-auth-app-django==1.1.0
social-auth-core==3.0.0
twilio==5.7.0
uritemplate==3.0.0
urllib3==1.24.1
vine==1.1.3
whitenoise==3.3.0
