git+https://github.com/Affirm/cabot-alert-email@1.5.1
cabot_alert_hipchat==1.6.1
git+https://github.com/Affirm/cabot-alert-twilio.git@1.1.6
git+https://github.com/Affirm/cabot-alert-pagerduty.git@1.0.2
