# Plugins to be loaded at launch
# CABOT_PLUGINS_ENABLED=cabot_alert_hipchat,cabot_alert_twilio,cabot_alert_email,cabot_alert_slack

DEBUG=t
DATABASE_URL=postgres://postgres@db:5432/postgres
DJANGO_SETTINGS_MODULE=cabot.settings
LOG_FILE=/dev/null
PORT=5001

# You shouldn't need to change anything above this line

# Base path to include before generated URLs.  If not defined, uses `/`
# URL_PREFIX=/

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
TIME_ZONE=Etc/UTC

# Django admin email
ADMIN_EMAIL=you@example.com
CABOT_FROM_EMAIL=cabot@example.com

# URL of calendar to synchronise rota with
CALENDAR_ICAL_URL=http://www.google.com/calendar/ical/example.ics

# Django settings
CELERY_BROKER_URL=redis://redis:6379/1
DJANGO_SECRET_KEY=2FL6ORhHwr5eX34pP9mMugnIOd3jzVuT45f7w430Mt5PnEwbcJgma0q8zUXNZ68A

# Hostname of your Graphite server instance
GRAPHITE_API=http://graphite.example.com/
GRAPHITE_USER=username
GRAPHITE_PASS=password

# From parameter for the graphite request. If not defined, by default take -10 minutes
# GRAPHITE_FROM=-10minute

# User-Agent string used for HTTP checks
HTTP_USER_AGENT=Cabot

# Hipchat integration
HIPCHAT_ALERT_ROOM=room_name_or_id
HIPCHAT_API_KEY=your_hipchat_api_key

# Jenkins integration
JENKINS_API=https://jenkins.example.com/
JENKINS_USER=username
JENKINS_PASS=password

# SMTP settings
EMAIL_BACKEND=django.core.mail.backends.console.EmailBackend

# Twilio integration for SMS and telephone alerts
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_OUTGOING_NUMBER=+14155551234

# Used for pointing links back in alerts etc.
WWW_HTTP_HOST=localhost
WWW_SCHEME=http

# Use for LDAP authentication
# AUTH_LDAP=true
# AUTH_LDAP_SERVER_URI=ldap://ldap.example.com
# AUTH_LDAP_BIND_DN="cn=Manager,dc=example,dc=com"
# AUTH_LDAP_BIND_PASSWORD=""
# AUTH_LDAP_USER_FILTER="(uid=%(user)s)"
# AUTH_LDAP_USER_SEARCH="ou=People,dc=example,dc=com"

# Use Github Organization for Authentication
# LOGIN_URL=/login/github-org/
# AUTH_GITHUB_ORG=True
# AUTH_GITHUB_ORG_CLIENT_ID=2l34k5j43tb46l2kj234
# AUTH_GITHUB_ORG_CLIENT_SECRET=23l4k5j43l6k546lk5n4kl64j2j3l5k4jjlkj2345
# AUTH_GITHUB_ORG_NAME=myorganization

# Use Github Enterprise Organization for Authentication
# LOGIN_URL=/login/github-enterprise-org/
# GITHUB_ENTERPRISE_ORG_AUTH=True
# GITHUB_ENTERPRISE_ORG_URL=https://mygithubenterprise.com/
# GITHUB_ENTERPRISE_ORG_API_URL=https://mygithubenterprise.com/api/v3/
# GITHUB_ENTERPRISE_ORG_KEY=alskdjflkj5lk123j345l3
# GITHUB_ENTERPRISE_ORG_SECRET=alskjdflkasjdflqkj5lkntrk13j45lk3451453245
# GITHUB_ENTERPRISE_ORG_NAME=myorganization
