# Plugins to be loaded at launch
CABOT_PLUGINS_ENABLED=cabot_alert_hipchat==1.6.1,cabot_alert_twilio==1.6.1,cabot_alert_email==1.3.1

DEBUG=t
DATABASE_URL=sqlite:///dev.db
DJANGO_SETTINGS_MODULE=cabot.settings
HIPCHAT_URL=https://api.hipchat.com/v1/rooms/message
LOG_FILE=/dev/null
PORT=5001

# You shouldn't need to change anything above this line

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
TIME_ZONE=Etc/UTC

# Django admin email
ADMIN_EMAIL=you@example.com
CABOT_FROM_EMAIL=cabot@example.com

# URL of calendar to synchronise rota with
CALENDAR_ICAL_URL=http://www.google.com/calendar/ical/example.ics

# Django settings
CELERY_BROKER_URL=redis://localhost:6379/1
DJANGO_SECRET_KEY=2FL6ORhHwr5eX34pP9mMugnIOd3jzVuT45f7w430Mt5PnEwbcJgma0q8zUXNZ68A

# Hostname of your Graphite server instance
GRAPHITE_API=http://graphite.example.com/
GRAPHITE_USER=username
GRAPHITE_PASS=password

# From parameter for the graphite request. If not defined, by default take -10 minutes
# GRAPHITE_FROM=-10minute

# User-Agent string used for HTTP checks
HTTP_USER_AGENT=Cabot

# Hipchat integration
HIPCHAT_ALERT_ROOM=48052
HIPCHAT_API_KEY=your_hipchat_api_key

# Jenkins integration
JENKINS_API=https://jenkins.example.com/
JENKINS_USER=username
JENKINS_PASS=password

# SMTP settings
SES_HOST=email-smtp.us-east-1.amazonaws.com
SES_USER=username
SES_PASS=password
SES_PORT=465

# Twilio integration for SMS and telephone alerts
TWILIO_ACCOUNT_SID=your_account_sid
TWILIO_AUTH_TOKEN=your_auth_token
TWILIO_OUTGOING_NUMBER=+14155551234

# Used for pointing links back in alerts etc.
WWW_HTTP_HOST=localhost
WWW_SCHEME=http

# Use for LDAP authentication
AUTH_LDAP=true
AUTH_LDAP_SERVER_URI=ldap://ldap.example.com
AUTH_LDAP_BIND_DN="cn=Manager,dc=example,dc=com"
AUTH_LDAP_BIND_PASSWORD=""
AUTH_LDAP_USER_SEARCH="ou=People,dc=example,dc=com"
