[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
amqp = ">=2.1.4"
celery = ">=4,<5"
djangorestframework = "*"
django-jsonify = "*"
django-filter = "*"
django-auth-ldap = "*"
anyjson = "*"
dj-database-url = "*"
freezegun = "*"
gevent = "*"
gunicorn = "*"
icalendar = "*"
psycopg2 = "*"
python-dateutil = "*"
pytz = "*"
redis = "*"
requests = "*"
twilio = ">=5,<6"
whitenoise = "*"
coreapi = "*"
Django = ">=1.11,<2"
django_polymorphic = "*"
django_compressor = "*"
Markdown = "*"
Pygments = "*"
