{% load extra %}

<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-1"><h3>{% if check_plugin %}<i class="{{ check_plugin.font_icon }}"></i>{% else %}<i class="glyphicon glyphicon-cog"></i>{% endif %}</h3></div>
    <div class="col-xs-8"><h3>{% if check_plugin %}{{ check_plugin.full_name }}s{% else %}All Checks{% endif %}</h3></div>
    <div class="col-xs-3 text-right">
      <h3>
        {% if check_plugin %}
        <a href="{{ check_plugin.get_absolute_create_url }}" title="Add new {{check_plugin.full_name}}"><i class="glyphicon glyphicon-plus"></i><i class="{{ check_plugin.font_icon }}"></i></a>
        {% else %}
        {% for i_check_plugin in all_check_plugins %}
        <a href="{{ i_check_plugin.get_absolute_create_url }}"><i class="glyphicon glyphicon-plus" title="Add new {{ i_check_plugin.full_name }}"></i><i class="{{ i_check_plugin.font_icon }}" title="Add new metric check"></i></a>
        {% endfor %}
        {% endif %}
      </h3>
    </div>
  </div>
</div>
<hr>
<div class="row">
  <div class="col-xs-12">
    {% if not checks %}
      <div class="col-xs-11 col-xs-offset-1">No checks configured</div>
    {% else %}
    <table class="table bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Status</th>
          <th></th>
          {% if checks_type == "All" %}
          <th class="text-center">Type</th>
          {% endif %}
          <th>Test description</th>
          <th>Importance</th>
          <th>Service(s)</th>
          <th>Instance(s)</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for check in checks %}
        <tr class="{% if check.active %}enabled{% else %}warning{% endif %}">
          <td title="{{ check.name }} - alerts {% if check.active %}enabled{% else %}disabled{% endif %}">
            <a href="{% url "check" pk=check.id %}">{{check.name}}</a>
          </td>
          <td title="{{ check.calculated_status }}">
            {% if check.active %}
            <span class="label label-{% if check.calculated_status == 'passing' %}success{% else %}danger{% endif %}">
              {{ check.calculated_status|capfirst }}
            </span>
            {% else %}
            <span class="label label-warning">Disabled</span>
            {% endif %}
          </td>
          <td title="Last result from {{ check.last_run|timesince }} ago (rightmost is newest)" class="sparktristate" values="{{ check.cached_health }}">
            {% if not check.cached_health %}
            No results available
            {% endif %}
          </td>
          {% if checks_type == "All" %}
          <td class="text-center">
              <i class="{{ check.check_plugin.font_icon }}"></i>
          </td>
          {% endif %}
          <td title="">
		{{ check.description }}
          </td>
          <td>{{ check.get_importance_display }}</td>
          <td>
            {% for service in check.service_set.all %}
            <a href="{% url "service" pk=service.id %}">{{ service.name }}</a>
            {% if forloop.last %}
            {% else %}
            /
            {% endif %}
            {% endfor %}
            {% if not check.service_set.all %}
            <span class="label label-warning">No service</span>
            {% endif %}
          </td>
          <td>
            {% for instance in check.instance_set.all %}
            <a href="{% url "instance" pk=instance.id %}">{{ instance.name }}</a>
            {% if forloop.last %}
            {% else %}
            /
            {% endif %}
            {% endfor %}
            {% if not check.instance_set.all %}
            <span class="label label-warning">No instance</span>
            {% endif %}
          </td>
          <td class="text-right">
            <a class="btn btn-xs" href="{{ check.get_absolute_update_url }}">
              <i class="glyphicon glyphicon-edit"></i><span class="break"></span>
            </a>
            <a class="btn btn-xs" href="{{ check.get_absolute_duplicate_url }}">
              <i class="fa fa-copy"></i><span class="break"></span>
            </a>
            <a class="btn btn-xs" href="{{ check.get_absolute_run_url }}">
              <i class="glyphicon glyphicon-refresh"></i><span class="break"></span>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
<hr>
