{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">

    <!-- Dropdown for mobiles -->
    <div class="col-md-12 visible-sm" style="padding-top: 2em;">
        <div class="dropdown">
            <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" style="width: 100%; margin-bottom: 1em;">
                Settings
                <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" style="width: 100%;">
                    <li><a href="{% url 'update-user' user_being_updated.pk %}">General</a></li>
                {% for alert in alert_plugins %}
                    <li><a href="{% url 'update-user-userdata' user_being_updated.pk alert.id %}">{{ alert.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <!-- Sidebar -->
    <div class="col-md-3 nav">
      <ul class="list-unstyled user-options">
          <li><i class="fa fa-cog"></i> <a href="{% url 'update-user' user_being_updated.pk %}">General</a></li>
        <hr>
        {% for alert in alert_plugins %}
        <li><i class="{{ alert.font_icon }}"></i> <a href="{% url 'update-user-userdata' user_being_updated.pk alert.id %}">{{ alert.name }}</a></li>
        {% endfor %}
      </ul>
    </div>
<script>
function defer(method) {
	if (window.jQuery)
		method();
	else
		setTimeout(function() { defer(method) }, 50);
}
defer(function () {
    $('ul.user-options li a').each(function() {
	if ($(this).attr("href") == window.location.pathname){
	    $(this).parent().addClass('active')
	}
    });
});
</script>

    <!-- Form -->
    <div class="col-md-9">
     <h1 class="page-header">{{ form_title }}</h1>
      <form class="form-horizontal" action="" method="post" role="form">
        {% csrf_token %}
        {% for field in form %}
        <div class="form-group">
          <label class="col-xs-2 control-label">{{ field.label_tag }}</label>
          <div class="col-xs-10">{{ field }}</div>
        </div>
        {% endfor %}
        <div class="form-group">
          <div class="col-xs-6 col-xs-offset-2">
            <button type="submit" class="btn btn-primary">Submit</button>
            <a href="{% url "dashboard" %}" class="btn">Back to dashboard</a>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% load compress %}
{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">


</script>
{% endcompress %}
{% endblock %}
