{% extends 'base.html' %}

{% block content %}
<div class="row sortable ui-sortable">
  <div class="col-xs-12" data-original-title="">
    <div class="col-xs-1"><h2><i class="fa fa-desktop"></i></h2></div>
    <div class="col-xs-10"><h2><span class="break"></span>Instances</h2></div>
    <div class="col-xs-1 text-right">
      <h2><a href="{% url "create-instance" %}" title="New instance"><i class="glyphicon glyphicon-plus"></i></a></h2>
    </div>
  </div>
  <div class="col-xs-12">
    {% include 'cabotapp/_instance_list.html' %}
  </div>
</div>
{% endblock content %}

{% block js %}
{% load compress %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">

</script>
{% endcompress %}
{% endblock js %}
