{% extends 'base.html' %}

{% block content %}
<div class="row sortable ui-sortable">
  <div class="col-xs-12" data-original-title="">
    <div class="col-xs-1"><h2><i class="fa fa-desktop"></i></h2></div>
    <div class="col-xs-10"><h2><span class="break"></span>Instances</h2></div>
    <div class="col-xs-1 text-right">
      <h2><a href="{% url "create-instance" %}" title="New instance"><i class="glyphicon glyphicon-plus"></i></a></h2>
    </div>
  </div>
  <div class="col-xs-12">

    <form name="form1" action="{% url 'instance_info' name=name %}" method="GET" class="form-horizontal">
{#      {% csrf_token %}#}
      <div class="form-group">
        <div class="col-sm-5">
          <input type="text" name="name" class="form-control" id="hostname" placeholder="Pick a host">
        </div>

        <div class="span7 text-left">
          <input class="btn btn-info btn-group-sm" type="submit" name="submit" value="Submit">
        </div>
      </div>
    </form>


    {% include 'cabotapp/_instance_list.html' %}


    <div class="pagination pagination-centered">

    <div class="row-fluid">
        <div class="span12">
            <ul class="pagination pull-right">

                {% if instances.number != 1 %}
                    <li><a href="?page=1">← First</a></li>
                {% else %}
                    <li class="disabled"><a>← First</a></li>
                {% endif %}

                {% if instances.has_previous3 %}
                    <li><a href="?page={{ instances.previous_page_number3 }}"> {{ instances.previous_page_number3 }} </a></li>
                {% endif %}

                {% if instances.has_previous2 %}
                    <li><a href="?page={{ instances.previous_page_number2 }}"> {{ instances.previous_page_number2 }} </a></li>
                {% endif %}

                {% if instances.has_previous %}
                    <li><a href="?page={{ instances.previous_page_number }}"> {{ instances.previous_page_number }} </a></li>
                {% endif %}

                <li class="active"><a href="#"> {{ instances.number }} </a></li>

                {% if instances.has_next %}
                    <li><a href="?page={{ instances.next_page_number }}"> {{ instances.next_page_number }} </a></li>
                {% endif %}

                {% if instances.has_next2 %}
                    <li><a href="?page={{ instances.next_page_number2 }}"> {{ instances.next_page_number2 }} </a></li>
                {% endif %}


                {% if instances.has_next3 %}
                    <li><a href="?page={{ instances.next_page_number3 }}"> {{ instances.next_page_number3 }} </a></li>
                {% endif %}

                {% if instances.number == instances.paginator.num_pages %}
                    <li class="disabled"><a>Last → </a></li>
                {% else %}
                    <li><a href="?page={{ instances.paginator.num_pages }}">Last → </a></li>
                {% endif %}

            </ul>
        </div>
    <div class="span1">Showing {{ instances.number }} of {{ instances.paginator.num_pages }} entries</div>
    </div>

    </div>



  </div>
</div>
{% endblock content %}

{% block js %}
{% load compress %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">

</script>
{% endcompress %}
{% endblock js %}
