{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-12">
    <div class="col-xs-1"><h2><i class="glyphicon glyphicon-time"></i></h2></div>
    <div class="col-xs-10"><h2>Duty rota</h2></div>
    <div class="col-xs-1 text-right">
      <h2><a href="{% url "create-schedule" %}"><i class="glyphicon glyphicon-plus" title="New rota"></i></a></h2>
    </div>
  </div>
  <div class="col-xs-12">
    <table class="table bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Schedule</th>
          <th>Duty officer</th>
          <th>Fallback officer</th>
          <th></th>
        </tr>
      </thead>
      {% for schedule in schedules %}
      <tbody>
        <td>
          {{ schedule }}
        </td>
        <td>
          <a href="{% url "shifts-detail" pk=schedule.id %} title="link">Link</a>
        </td>
        <td>
          {% with duty_officers.officers|get_item:schedule as officer %}
          {{ officer.username }}
          {% endwith %}
        </td>
        <td>
          {{ schedule.fallback_officer }}
        </td>
        <td class="text-right">
          <a class="btn btn-xs" href="{% url "update-schedule" pk=schedule.id %} role="button">
            <i class="glyphicon glyphicon-edit"></i>
          </a>
        </td>
      </tbody>
      {% endfor %}
    </table>
  </div>
</div>
{% endblock %}
