{% extends 'base.html' %}

{% block content %}
<div class="row">
  <div class="col-xs-10 col-xs-offset-2">
    <h2>{% if form.instance.id %}Edit user{% else %}New user{% endif %}</h2>
  </div>
</div>
<form class="form-horizontal" action="" method="post" role="form">
  {% csrf_token %}
  {% for field in form %}
  <div class="form-group">
    <label class="col-xs-2 control-label">{{ field.label_tag }}</label>
    <div class="col-xs-10">{{ field }}</div>
  </div>
  {% endfor %}
  <div class="form-group">
    <div class="col-xs-6 col-xs-offset-2">
      <button type="submit" class="btn btn-primary">Submit</button>
      <a href="{% url "dashboard" %}" class="btn">Back to dashboard</a>
    </div>
  </div>

</form>
{% endblock %}

{% load compress %}
{% block js %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">


</script>
{% endcompress %}
{% endblock %}
