{% extends 'base.html' %}

{% block content %}
<div class="row sortable ui-sortable">
  <div class="col-xs-12" data-original-title="">
    <div class="col-xs-1"><h2><i class="fa fa-desktop"></i></h2></div>
    <div class="col-xs-10"><h2><span class="break"></span>Instances</h2></div>
    <div class="col-xs-1 text-right">
      <h2><a href="{% url create-instance %}" title="New instance"><i class="glyphicon glyphicon-plus"></i></a></h2>
    </div>
  </div>
  <div class="col-xs-12">
    {% if not instances %}
      No instances
    {% else %}
    <table class="table bootstrap-datatable datatable">
      <thead>
        <tr>
          <th>Name</th>
          <th>Overall</th>
          <th>Active checks</th>
          <th>Disabled checks</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
      {% for instance in instances %}
        <tr class="{% if instance.alerts_enabled %}enabled{% else %}warning{% endif %}">
          <td>
            <a href="{% url instance pk=instance.id %}" title="Alerts {% if instance.alerts_enabled %}enabled{% else %}disabled{% endif %}">{{instance.name}} </a>
          </td>
          <td>
            <span class="label label-{% if not instance.alerts_enabled %}warning{% else %}{% if instance.overall_status == instance.PASSING_STATUS %}success{% else %}danger{% endif %}{% endif %}">{% if instance.alerts_enabled %}{{ instance.overall_status|lower|capfirst }}{% else %}Disabled{% endif %}</span>
          </td>
          <td>
            <span class="label label-{% if instance.active_status_checks.all.count > 0 %}{% if instance.overall_status != instance.PASSING_STATUS %}danger{% else %}success{% endif %}{% else %}default{% endif %}">{{ instance.active_status_checks.all.count }}</span>
          </td>
          <td>
            <span class="label label-{% if instance.inactive_status_checks.all.count > 0 %}warning{% else %}default{% endif %}">{{ instance.inactive_status_checks.all.count }}</span>
          </td>
          <td class="text-right">
            <a class="btn btn-xs" href="{% url update-instance pk=instance.id %}" role="button">
              <i class="glyphicon glyphicon-edit"></i>
            </a>
          </td>
        </tr>
      {% endfor %}
      </tbody>
    </table>
    {% endif %}
  </div>
</div>
{% endblock content %}

{% block js %}
{% load compress %}
{{ block.super }}
{% compress js %}
<script type="text/coffeescript">

</script>
{% endcompress %}
{% endblock js %}
